streamlit
numpy
pandas
librosa
soundfile
plotly
matplotlib

scikit-learn
tensorflow
keras
torch
torchaudio

numba
llvmlite

# Optional but common for notebooks
jupyter
ipython

streamlit
sqlite3
hashlib
pandas
numpy
librosa
plotly
fpdf
numpy
pandas
tensorflow
scikit-learn
imbalanced-learn
nltk
reportlab
plotly
speechrecognition
streamlit
sqlite3
hashlib
datetime
librosa
fpdf
torch
joblib

